---
import Layout from '../../layouts/Layout.astro';
import Subbanner from '../../components/Subbanner.astro';
import SubTab from '../../components/SubTab.astro';
import '../../css/ui.css';

const pageTitle = 'MEDILMM > About MediLMM';
const idName = 'AboutMediLMM';
const pageHeader = 'sub';
const bannerItem = {
  url: '../assets/images/img_coreTechnology.webp',
  title: 'About MediLMM',
  text: `이미지 / 영상을 텍스트와 결합한 멀티 모달 데이터를
생성형 AI에 의해 다양하게 분석 가능`,
};

const isActive = 'active02';
const TabItem = [
  { name: 'Multi Modal Data', url: './MultiModalData.html', activeId: 'active01' },
  { name: 'About MediLMM', url: './AboutMediLMM.html', activeId: 'active02' },
  { name: 'Our Platform', url: './OurPlatform.html', activeId: 'active03' },
];
---

<Layout pageTitle={pageTitle} idName={idName} pageHeader={pageHeader}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <Subbanner bannerItem={bannerItem} />
  <SubTab isActive={isActive} TabItem={TabItem} />

  <div class="About sub-inner inner">
    <div class="mediIMM-system">
      <div class="txt-wrap">
        <h1 class="f-pop" data-aos="fade-up" data-aos-delay="" data-aos-duration="1000">
          MediLMM <br />
          Analysis System
        </h1>
        <p data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          생성형 AI로 다양하게 분석되는 멀티 모달 데이터
        </p>
        <img class="is-tab-show mt40" src="../assets/images/p2_mockup.webp" alt="" />
        <ul class="check-menu custom">
          <li data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <span class="checkmark">
              <img class="" src="../assets/images/p2_check.svg" alt="" />
            </span>
            멀티 모달리티
          </li>
          <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
            <span class="checkmark">
              <img class="" src="../assets/images/p2_check.svg" alt="" />
            </span>
            생성형 AI
          </li>
          <li data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
            <span class="checkmark">
              <img class="" src="../assets/images/p2_check.svg" alt="" />
            </span>
            자동화 프로세스
          </li>
          <li data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
            <span class="checkmark">
              <img class="" src="../assets/images/p2_check.svg" alt="" />
            </span>
            대화형 GUI
          </li>
          <li data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
            <span class="checkmark">
              <img class="" src="../assets/images/p2_check.svg" alt="" />
            </span>
            다양한 SOTA 기술의 적용
          </li>
        </ul>
      </div>
      <div class="phones is-tab-hide" data-aos="fade-left" data-aos-delay="" data-aos-duration="1000">
        <img class="" src="../assets/images/p2_mockup.webp" alt="" />
      </div>
    </div>
  </div>
  <!-- 컨텐츠가 들어갈 부분 eee -->
</Layout>
