---
import Layout from '../../layouts/Layout.astro';
import Subbanner from '../../components/Subbanner.astro';
import SubTab from '../../components/SubTab.astro';
import '../../css/ui.css';

const pageTitle = 'MEDILMM > MultiModalData';
const idName = 'MultiModalData';
const pageHeader = 'sub';
const bannerItem = {
  url: '../../public/assets/images/subbanner01.webp',
  title: 'AboutMediLMM',
  text: `이미지 / 영상을 텍스트와 결합한 멀티 모달 데이터를
생성형 AI에 의해 다양하게 분석 가능`,
};

const isActive = 'active02';
const TabItem = [
  { name: 'Multi Modal Data', url: './MultiModalData.html', activeId: 'active01' },
  { name: 'About MediLMM', url: './AboutMediLMM.html', activeId: 'active02' },
  { name: 'Our Platform', url: './OurPlatform.html', activeId: 'active03' },
];
---

<Layout pageTitle={pageTitle} idName={idName} pageHeader={pageHeader}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <Subbanner bannerItem={bannerItem} />
  <SubTab isActive={isActive} TabItem={TabItem} />

  <div class="sub-inner">
    <section class="sub01-1">
      <div class="sub-title-wrap">
        <h2>Isolated Hard Work</h2>
        <p>여러 데이터 레이크로 깊숙히 사람의 열정을 상상한 멀티모달 데이터</p>
      </div>
    </section>
  </div>
  <!-- 컨텐츠가 들어갈 부분 eee -->
</Layout>
