---
import Layout from '../../layouts/Layout.astro';
import '../../css/ui.css';
import Subbanner from '../../components/Subbanner.astro';
import SubTab from '../../components/SubTab.astro';
import NewsItem from '../../components/NewsItem.astro';
import Pagination from '../../components/Pagination.astro';

const pageTitle = 'MediLMMCEO';
const idName = 'ceo';
const bannerItem = {
  url: '../assets/images/img_board_01.webp',
  title: 'Board',
  text: '메디렘의 다양한 소식들 확인',
};

const isActive = 'active02';
const TabItem = [
  { name: 'MediLMM CEO', url: './MediLMMCEO.html', activeId: 'active01' },
  { name: 'Board', url: './Board.html', activeId: 'active02' },
  { name: 'Contact', url: './Contact.html', activeId: 'active03' },
];
const NewsList = [
  {
    img: '../assets/images/p2_2.webp',
    title: '[메디렘 소개] 데이터 보안의 새로운 혁신, 메디렘이란?',
    date: '2024.02.29',
  },
  {
    img: '../assets/images/p2_2.webp',
    title: 'AI로 변해가는 우리 삶 속, 의료 데이터는 어떨까?',
    date: '2024.02.29',
  },
  {
    img: '../assets/images/p2_2.webp',
    title: '혁신적인 메디렘 서비스를 소개합니다.',
    date: '2024.02.29',
  },
];
---

<Layout pageTitle={pageTitle} idName={idName}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <Subbanner bannerItem={bannerItem} />
  <SubTab isActive={isActive} TabItem={TabItem} />
  <div class="co-board-section">
    <div class="inner">
      <div class="co-board-wrap">
        <div class="img-grp">
          <img class="img" src="../assets/images/p2_detail.webp" alt="" />
        </div>
        <div>
          <p class="ttl">
            혁신적인 데이터 활용,<br />
            메디렘을 소개합니다.
          </p>
          <p class="desc">
            저희 메디렘은 의료 헬스케어(Medi)와 거대 멀티<br />
            모달 모델(LMM)의 결합으로 네이밍 되었으며 거대<br />
            멀티 모달 모델을 통하여 의료 헬스케어 서비스를<br />
            제공한다는 포부를 담고 있습니다. 내용 4줄까지 제공한다는 포부를 담고 있습니다. 내용 4줄까지
          </p>
        </div>
      </div>
      <div class="co-board-news-wrap">
        <p class="ttl">Upcoming News</p>
        <div class="co-board-news-conts">
          {NewsList.map((product) => <NewsItem product={product} />)}
        </div>
        <Pagination />
      </div>
    </div>
  </div>
</Layout>
<!-- 컨텐츠가 들어갈 부분 eee -->
