---
import Layout from '../../layouts/Layout.astro';
import Subbanner from '../../components/Subbanner.astro';
import SubTab from '../../components/SubTab.astro';
import Modal from '../../components/Modal.astro';
import '../../css/ui.css';

const pageTitle = 'MEDILMM > CADCatchTM';
const idName = 'CADCatchTM';
const pageHeader = 'sub';

const bannerItem = {
  isActive: true,
  cmText: true,
  url: '../../public/assets/images/img_medilmmCAD.webp',
  title: 'CAD Catch',
  text: `의료 데이터의 수집부터 가공, 처리 분석에
최적화된 메디렘 CAD Catch`,
};

const isActive = 'active03';
const TabItem = [
  { name: 'SimPLE Model', url: './SimpleModel.html', activeId: 'active01' },
  { name: 'UVL Transformer', url: './UVLTransformer.html', activeId: 'active02' },
  { name: 'CAD Catch', url: './CADCatch.html', activeId: 'active03', on: 'on' },
  { name: 'CAD Wrap', url: './CADWrap.html', activeId: 'active04', on: 'on' },
];
---

<Layout pageTitle={pageTitle} idName={idName} pageHeader={pageHeader}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <Subbanner bannerItem={bannerItem} />
  <SubTab isActive={isActive} TabItem={TabItem} />

  <div class="sub-inner">
    <div class="sub-title-wrap custom tac">
      <h2 data-aos="fade-up" data-aos-delay="" data-aos-duration="1000">메디렘 종합 데이터 관리 플랫폼</h2>
      <p data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
        대화형 AI를 통해 쉽고 편하게 데이터 마이닝 및 레이블링, 분석 그리고 최종적인 가공까지도 가능한 종합 데이터 관리
        플랫폼
      </p>
    </div>

    <div class="se01 inner">
      <div class="tac">
        <img
          data-aos="fade-up"
          data-aos-delay="400"
          data-aos-duration="1000"
          class=""
          src="../assets/images/CADCatchTM_bg.jpg"
          alt=""
        />
      </div>
      <div class="analyzing-wrap">
        <div class="flx gap55 aic">
          <div class="img">
            <img class="" src="../assets/images/p4_s1_robot.webp" alt="" />
          </div>
          <div class="txt-wrap">
            <p class="tit">Q: 업로드된 데이터를 분석해서 다시 제대로 라벨링을 해줘!</p>
            <div class="loading flx ais gap8">
              <img class="" src="../assets/images/Icon_reload_outline.svg" alt="" />
              <div class="txt-wrap">
                <p>입력된 데이터를 분석하겠습니다…</p>
                <div class="bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="se02">
      <div class="inner">
        <div class="sub-title-wrap c-white custom tac">
          <h2 data-aos="fade-up" data-aos-delay="" data-aos-duration="1000">
            메디렘 데이터 수집 플랫폼 CAD CatchTM 의 차별점
          </h2>
          <p data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
            메디렘 통합 바이오 데이터 뱅크와 LMM을 활용하여 사용자가 손쉽게 <br />
            대화용 AI를 통해 다양한 빅테이터에 접근 가능한 플랫폼
          </p>
        </div>

        <div class="section-cnt">
          <div class="section-title">
            <h2>참여하는 대상</h2>
          </div>
          <ul class="buttons-cnt">
            <li>일반인</li>
            <li>만성 질환자</li>
            <li>중증 질환자</li>
            <li>하위 질환자</li>
          </ul>
        </div>

        <div class="tac">
          <div class="icon-bottom">
            <i class="icon icon-arrow scroll-horizontal-img"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 컨텐츠가 들어갈 부분 eee -->

  <Modal />
</Layout>
