---
import Layout from '../../layouts/Layout.astro';
import '../../css/ui.css';
import Subbanner from '../../components/Subbanner.astro';
import SubTab from '../../components/SubTab.astro';

const pageTitle = 'Contact';
const idName = 'contact';
const bannerItem = {
  url: '../assets/images/img_board_01.webp',
  title: 'Contact',
  text: '메디렘에게 궁금한 점을 자유롭게 문의해보세요',
};

const isActive = 'active03';
const TabItem = [
  { name: 'MediLMM CEO', url: './MediLMMCEO.html', activeId: 'active01' },
  { name: 'Board', url: './Board.html', activeId: 'active02' },
  { name: 'Contact', url: './Contact.html', activeId: 'active03' },
];
---

<Layout pageTitle={pageTitle} idName={idName}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <Subbanner bannerItem={bannerItem} />
  <SubTab isActive={isActive} TabItem={TabItem} />
  <div class="co-contact-section">
    <div class="inner">
      <div class="co-contact-info-wrap">
        <div class="ttl-grp">
          <div>
            <p class="tt">MEDILMM</p>
            <p class="ttl">
              메디렘은 최고의<br />
              의료정보 제공을 목표로<br />
              나아가고 있습니다
            </p>
          </div>
          <div>
            <p class="info-ttl">office information</p>
            <div class="info-list">
              <span class="info-tt">Adress.</span>
              <span class="info-desc">서울시 강남구 테헤란로, 82길 15 349호</span>
            </div>
            <div class="info-list">
              <span class="info-tt">Email.</span>
              <span class="info-desc">yssuh@medilmm.com</span>
            </div>
            <div class="info-list">
              <span class="info-tt">Call.</span>
              <span class="info-desc">02-5220-2593</span>
            </div>
          </div>
        </div>
        <video class="video-grp" autoplay loop muted>
          <source class="video" src="../assets/video/p3_s1.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
    <div class="co-contact-wrap">
      <div class="inner">
        <div class="co-contact-conts">
          <div class="left">
            <div class="ttl-grp">
              <p class="ttl">
                Contact <br />
                MEDILMM
              </p>
              <p class="desc">
                궁금하신 점을 문의하기를 통해 남겨주시면<br />
                최대한 빠르게 확인 후 이메일로<br />
                답변을 남겨드리겠습니다.
              </p>
            </div>
            <button id="myButton" class="btn btn-inquiry">문의 보내기</button>
          </div>
          <div class="right">
            <div>
              <div class="input">
                <label for="Name" class="label-md type-essential">이름</label>
                <input type="text" id="Name" class="inp" placeholder="이름을 입력해주세요" />
              </div>
              <div class="input">
                <label for="Belong" class="label-md type-essential">소속</label>
                <input type="text" id="Belong" class="inp" placeholder="소속을 입력해주세요" />
              </div>
              <div class="input">
                <label for="Phone" class="label-md type-essential">연락처</label>
                <input type="text" id="Phone" class="inp" placeholder="연락처를 입력해주세요" />
              </div>
              <div class="input">
                <label for="Mail" class="label-md type-essential">메일</label>
                <input type="text" id="Mail" class="inp" placeholder="메일을 입력해주세요" />
              </div>
              <div class="input">
                <label for="Inquiry" class="label-md type-02 type-essential">문의사항</label>
                <textarea name="Inquiry" id="Inquiry" class="inp textarea-01" placeholder="문의사항을 입력해주세요"
                ></textarea>
              </div>
            </div>
            <div class="inp-grp">
              <div class="chk-grp">
                <input type="checkbox" id="Privacy" class="is-none check-switch" />
                <label for="Privacy" class="chk-01">개인정보 활용 동의</label>
              </div>
              <button class="btn btn-underline">내용 확인</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
<!-- 컨텐츠가 들어갈 부분 eee -->

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const button = document.getElementById('myButton');

    if (button) {
      button.addEventListener('click', function () {
        sendInquiry();
      });
    }
  });

  function sendInquiry() {
    const name = document.getElementById('Name').value;
    const belong = document.getElementById('Belong').value;
    const phone = document.getElementById('Phone').value;
    const mail = document.getElementById('Mail').value;
    const inquiry = document.getElementById('Inquiry').value;
    const privacy = document.getElementById('Privacy');

    if (!name) {
      alert('이름을 입력해주세요');
      return;
    }
    if (!belong) {
      alert('소속을 입력해주세요');
      return;
    }
    if (!phone) {
      alert('연락처(휴대폰)을 입력해주세요');
      return;
    }

    if (!/^\d{10,11}$/.test(phone)) {
      alert('올바른 전화번호를 입력해주세요.');
      return;
    }

    if (!mail) {
      alert('메일을 입력해주세요');
      return;
    }
    if (!inquiry) {
      alert('문의사항을 입력해주세요');
      return;
    }

    if (!privacy.checked) {
      alert('개인정보 활용에 동의해주세요');
      return;
    }
    console.log('성공');
  }
</script>
