---
import Layout from '../../layouts/Layout.astro';
import '../../css/ui.css';
import Subbanner from '../../components/Subbanner.astro';
import SubTab from '../../components/SubTab.astro';

const pageTitle = 'Financial Plan';
const idName = 'roadmap';
const pageHeader = 'sub';
const bannerItem = {
  url: '../assets/images/img_plan_01.webp',
  title: 'Financial Plan',
  text: `Cleansing&Analysis Data를 제약회사와 연구기간
임상시험 데이터 시장과 CRO 서비스`,
};

const isActive = 'active02';
const TabItem = [
  { name: 'MediLMM Roadmap', url: './MediLMMRoadmap.html', activeId: 'active01' },
  { name: 'Financial Plan', url: './FinancialPlan.html', activeId: 'active02' },
];
---

<Layout pageTitle={pageTitle} idName={idName} pageHeader={pageHeader}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <Subbanner bannerItem={bannerItem} />
  <SubTab isActive={isActive} TabItem={TabItem} />
  <div class="pl-financial-section">
    <div class="pl-financial-top-wrap">
      <p class="sub-page-ttl" data-aos="fade-up" data-aos-duration="1000">중장기 성장 Milestone</p>
      <p class="sub-page-desc" data-aos="fade-up" data-aos-duration="1000">
        의약을 넘어 진단보조 / 약물감시 분야까지의 진출
      </p>
      <div class="gif-grp mb-hide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
        <img class="gif" src="../assets/images/img_plan_03.gif" />
      </div>
      <div class="inner mb-show">
        <div class="gif-grp">
          <img class="gif" src="../assets/images/mo_p2_s1.gif" />
        </div>
        <div class="pl-financial-card-grp">
          <div class="pl-financial-card">
            <div class="left">
              <p class="year">2024</p>
              <p class="won"><strong class="lg-txt">63</strong>억원</p>
            </div>
            <div class="right">
              <p class="list type-01">· Series-A 투자</p>
              <p class="list">· 원천기술 확보 PoC 진행</p>
            </div>
          </div>
          <div class="pl-financial-card">
            <div class="left">
              <p class="year">2025</p>
              <p class="won"><strong class="lg-txt">111</strong>억원</p>
            </div>
            <div class="right">
              <p class="list">
                · 동부 보스턴 지사 설립<br />
                &nbsp;&nbsp;하버드 의대, MIT 공동연구
              </p>
            </div>
          </div>
          <div class="pl-financial-card">
            <div class="left">
              <p class="year">2026</p>
              <p class="won"><strong class="lg-txt">160</strong>억원</p>
            </div>
            <div class="right">
              <p class="list type-01">· Series-B 투자</p>
              <p class="list">
                · 국내 연 매출 200억, 해외 연 매출<br />
                &nbsp;&nbsp;100억 회사 가치 3,000억 달성
              </p>
            </div>
          </div>
          <div class="pl-financial-card">
            <div class="left">
              <p class="year">2027</p>
              <p class="won"><strong class="lg-txt">245</strong>억원</p>
            </div>
            <div class="right">
              <p class="list type-01">· 글로벌 스탠다드</p>
              <p class="list">
                · AI CRO 글로벌 파트너쉽<br />
                &nbsp;&nbsp;실리콘밸리 지사 설립
              </p>
            </div>
          </div>
          <div class="pl-financial-card">
            <div class="left">
              <p class="year">2028</p>
              <p class="won"><strong class="lg-txt">295</strong>억원</p>
            </div>
            <div class="right">
              <p class="list type-01">· M&A</p>
              <p class="list type-01">· IPO</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pl-finanial-bottom-wrap">
      <div class="inner">
        <p class="sub-page-ttl" data-aos="fade-up" data-aos-duration="1000">향후 5년 예상 매출</p>
        <p class="sub-page-desc" data-aos="fade-up" data-aos-duration="1000">
          글로벌 기업으로서의 성장을 이루어갈 미래
        </p>
        <div class="img-grp-01">
          <img src="../assets/images/img_plan_04.webp" class="img" data-aos="fade-up" data-aos-duration="1000" />
        </div>
        <div class="img-grp-02">
          <img src="../assets/images/img_plan_05.webp" class="img" data-aos="fade-up" data-aos-duration="1000" />
        </div>
      </div>
    </div>
  </div>
  <!-- 컨텐츠가 들어갈 부분 eee -->
</Layout>
