---
import Layout from '../../layouts/Layout.astro';
import '../../css/ui.css';
import Subbanner from '../../components/Subbanner.astro';
import SubTab from '../../components/SubTab.astro';

const pageTitle = 'MediLMM Roadmap';
const idName = 'roadmap';
const bannerItem = {
  url: '../assets/images/img_plan_01.webp',
  title: 'MediLMM Roadmap',
  text: '메디렘의 사업 로드맵',
};

const isActive = 'active01';
const TabItem = [
  { name: 'MediLMM Roadmap', url: './MediLMMRoadmap.html', activeId: 'active01' },
  { name: 'Financial Plan', url: './FinancialPlan.html', activeId: 'active02' },
];
---

<Layout pageTitle={pageTitle} idName={idName}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <Subbanner bannerItem={bannerItem} />
  <SubTab isActive={isActive} TabItem={TabItem} />
  <div class="inner">
    <div class="pl-roadmap-wrap">
      <p class="sub-page-ttl" data-aos="fade-up" data-aos-duration="1000">Business plan</p>
      <p class="sub-page-desc mb-hide" data-aos="fade-up" data-aos-duration="1000">메디렘 사업 로드맵 소개</p>
      <div class="mo-pl-roadmap-list mb-show">
        <p class="ttl">의료데이터 수집 & 자사 AI 파인튜닝</p>
        <p class="ttl">사용자 라이프로그수집</p>
      </div>
      <div class="img-grp" data-aos="fade-up" data-aos-duration="1000">
        <img
          data-aos="fade-up"
          data-aos-delay="400"
          data-aos-duration="1000"
          class="img mb-hide"
          src="../assets/images/img_plan_02.webp"
          alt="메디램 로드맵 테이블"
        />
        <img
          data-aos="fade-up"
          data-aos-delay="400"
          data-aos-duration="1000"
          class="img mb-show"
          src="../assets/images/mo_p1_1.webp"
          alt="메디램 로드맵 테이블"
        />
      </div>
    </div>
  </div>
  <!-- 컨텐츠가 들어갈 부분 eee -->
</Layout>
