---
import Layout from '../../layouts/Layout.astro';
import '../../css/ui.css';
import Subbanner from '../../components/Subbanner.astro';
import SubTab from '../../components/SubTab.astro';

const pageTitle = 'MEDILMM > Overview';
const idName = 'overview';
const pageHeader = 'sub';
const bannerItem = {
  url: '../assets/images/img_strategy_01.webp',
  title: 'Overview',
  text: '인공지능 기술을 통한 의료, 바이오 시장',
};

const isActive = 'active01';
const TabItem = [
  { name: 'Overview', url: './Overview.html', activeId: 'active01' },
  { name: 'Business Strategy', url: './BusinessStrategy.html', activeId: 'active02' },
  { name: 'Marketing Strategy', url: './MarketingStrategy.html', activeId: 'active03' },
];
---

<Layout pageTitle={pageTitle} idName={idName}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <Subbanner bannerItem={bannerItem} />
  <SubTab isActive={isActive} TabItem={TabItem} />
  <div class="inner">
    <div class="st-overview-wrap">
      <p class="sub-page-ttl" data-aos="fade-up" data-aos-duration="1000">
        인공지능을 활용한 <br class="mb-show" />의료 및 바이오 시장
      </p>
      <p class="sub-page-desc" data-aos="fade-up" data-aos-duration="1000">
        인공지능을 활용해 나아가고 있는 다양한 바이오 기업들
      </p>
      <div class="st-overview-img-grp">
        <div class="img-grp" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
          <img class="img" src="../public/assets/images/img_strategy_02.webp" alt="" />
        </div>
        <div class="img-grp" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
          <img class="img" src="../public/assets/images/img_strategy_03.webp" alt="" />
        </div>
        <div class="img-grp" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <img class="img" src="../public/assets/images/img_strategy_04.webp" alt="" />
        </div>
        <div class="img-grp" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
          <img class="img" src="../public/assets/images/img_strategy_05.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- 컨텐츠가 들어갈 부분 eee -->
</Layout>
