---
import Layout from '../../layouts/Layout.astro';
import Subbanner from '../../components/Subbanner.astro';
import SubTab from '../../components/SubTab.astro';
import Modal from '../../components/Modal.astro';
import '../../css/ui.css';

const pageTitle = 'MEDILMM > UVLTransformer';
const idName = 'UVLTransformer';
const pageHeader = 'sub';
const bannerItem = {
  url: '../assets/images/img_medilmmCAD.webp',
  cmText: true,
  title: 'UVLTransformer',
  text: `CADTM`,
  text2: `의 두번째 기초 기술`,
};

const isActive = 'active02';
const TabItem = [
  { name: 'SimPLE Model', url: './SimpleModel.html', activeId: 'active01' },
  { name: 'UVL Transformer', url: './UVLTransformer.html', activeId: 'active02' },
  { name: 'CAD Catch', url: './CADCatch.html', activeId: 'active03', on: 'on' },
  { name: 'CAD Wrap', url: './CADWrap.html', activeId: 'active04', on: 'on' },
];
---

<Layout pageTitle={pageTitle} idName={idName} pageHeader={pageHeader}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <Subbanner bannerItem={bannerItem} />
  <SubTab isActive={isActive} TabItem={TabItem} />

  <div class="sub-inner inner">
    <div class="sub-title-wrap custom tac">
      <h2 class="f-pop" data-aos="fade-up" data-aos-delay="" data-aos-duration="1000">UVL Transformer Technology</h2>
      <p data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
        이미지 - 텍스트 통합 데이터 변환 처리 <br class="is-tab-show" /> 기술을 보유하고 있습니다
      </p>
    </div>

    <img
      data-aos="fade-up"
      data-aos-delay="400"
      data-aos-duration="1000"
      class="is-tab-hide"
      src="../assets/images/p2_s1_1.webp"
      style="width:100%;"
      alt=""
    />

    <img class="is-tab-show mt30 pol-l50" src="../assets/images/mo_p2_s1_1.jpg" alt="" />
  </div>

  <section class="se02">
    <div class="inner">
      <h3 data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">MEDILMM</h3>
      <h2 data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
        UVL Transformer <br class="is-web-show" /> 핵심 구성 요소
      </h2>
      <ul>
        <li data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <dl>
            <dt>트랜스포머 아키텍쳐</dt>
            <dd>자기주의 메커니즘을 사용한 데이터 관계 학습</dd>
          </dl>
        </li>
        <li data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">
          <dl>
            <dt>멀티 모달 학습</dt>
            <dd>시각 데이터와 언어 데이터를 동시에 처리</dd>
          </dl>
        </li>
        <li data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
          <dl>
            <dt>언어처리</dt>
            <dd>
              텍스트를 토큰화해 처리하고 <br class="is-tab-show" /> 이미지나 비디오 <br class="is-tab-hide" />
              데이터와의 연관성 파악
            </dd>
          </dl>
        </li>
        <li data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000">
          <dl>
            <dt>연속 학습 및 적응성</dt>
            <dd>
              새로운 데이터나 시나리오에 대해 <br class="is-tab-show" /> 지속적으로 <br class="is-tab-hide" /> 학습하고 적응
            </dd>
          </dl>
        </li>
        <li data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000">
          <dl>
            <dt>시각적 특징 추출</dt>
            <dd>
              컨볼루셔널 신경망(CNN)과 <br class="is-web-show" />비전 트랜스포머 기술(ViT)을 활용한 시각적 특징 추출
            </dd>
          </dl>
        </li>
      </ul>
      <div class="right-img" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
        <img class="" src="../assets/images/p2_s2_mockup.webp" alt="" />
      </div>
    </div>
  </section>
  <!-- 컨텐츠가 들어갈 부분 eee -->

  <Modal />
</Layout>
