---
const tableCnt = [
  { number: 0, defaultStay:'',  remarks:"완료", dapth1: 'main', htmlLink: 'main.html', linkTarget: 'main' },
  { number: 1,  defaultStay:'', remarks:"완료", dapth1: 'MultiModalData', htmlLink: 'MultiModalData.html', linkTarget: 'sub' },
  { number: 2,  defaultStay:'', remarks:"완료", dapth1: 'AboutMediLMM', htmlLink: 'AboutMediLMM.html', linkTarget: 'sub' },
  { number: 3, dapth2:'',  defaultStay:'', remarks:"완료/", dapth1: 'OurPlatform', htmlLink: 'OurPlatform', linkTarget: 'sub' },
  { number: 4,  defaultStay:'', remarks:"완료", dapth1: 'SimpleModel', htmlLink: 'SimpleModel.html', linkTarget: 'sub' },
  { number: 5,  defaultStay:'', remarks:"완료", dapth1: 'UVLTransformer', htmlLink: 'UVLTransformer.html', linkTarget: 'sub' },
  { number: 6,  dapth2:'',  defaultStay:'', remarks:"완료", dapth1: 'CADCatch', htmlLink: 'CADCatch', linkTarget: 'sub' },
  { number: 7,  defaultStay:'', remarks:"완료", dapth1: 'CADWrap', htmlLink: 'CADWrap.html', linkTarget: 'sub' },
  { number: 9,  defaultStay:'', remarks:"완료", dapth1: 'Overview', htmlLink: 'Overview.html', linkTarget: 'sub' },
  { number: 8,  defaultStay:'', remarks:"완료", dapth1: 'BusinessStrategy', htmlLink: 'BusinessStrategy.html', linkTarget: 'sub' },
  { number: 10, defaultStay:'', remarks:"완료",  dapth1: 'MarketingStrategy', htmlLink: 'MarketingStrategy.html', linkTarget: 'sub' },
  { number: 11, defaultStay:'', remarks:"완료",   dapth1: 'MediLMMRoadmap', htmlLink: 'MediLMMRoadmap.html', linkTarget: 'sub' },
  { number: 12, defaultStay:'', remarks:"완료", dapth1: 'FinancialPlan', htmlLink: 'FinancialPlan.html', linkTarget: 'sub' },
  { number: 13, defaultStay:'', remarks:"완료", dapth1: 'MediLMMCEO', htmlLink: 'MediLMMCEO.html', linkTarget: 'sub' },
  { number: 14, defaultStay:'', remarks:"완료", dapth1: 'Board', htmlLink: 'Board.html', linkTarget: 'sub' },
  { number: 15, defaultStay:'', remarks:"완료", dapth1: 'BoardDetail', htmlLink: 'BoardDetail.html', linkTarget: 'sub' },
  { number: 16, defaultStay:'', remarks:"완료", dapth1: 'Contact', htmlLink: 'Contact.html', linkTarget: 'sub' },
  { number: 17, defaultStay:'', remarks:"완료", dapth1: 'PageError', htmlLink: 'PageError.html', linkTarget: 'sub' },
  { number: 18, defaultStay:'', remarks:"완료", dapth1: 'ServerError', htmlLink: 'ServerError.html', linkTarget: 'sub' },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>가이드</title>
    <link rel="stylesheet" href="../assets/css/ui.css" />
  </head>

  <body>
    <div class="content-wrapper" id="content">
      <div class="content-section" id="app-cn" style="display: block">
        <table style="width: 100%" class="tbl-list mt20">
          <thead>
            <tr>
              <th>연번</th>
              <th>1Depth</th>
              <th>2Depth</th>
              <th>Tab-Depth</th>
              <th>퍼블1차</th>
              <th>퍼블수정</th>
              <th>퍼블컨펌</th>
              <th>추가의견</th>
              <th>콘텐츠(기본 유지)</th>
              <th>비고</th>
              <th>HTML 링크</th>
            </tr>
          </thead>
          <tbody>
            {
              tableCnt.map(function (item) {
                return (
                  <>
                    <tr>
                      <td>{item.number}</td>
                      <td>{item.dapth1}</td>
                      <td>{item.dapth2}</td>
                      <td>{item.tabDapth}</td>
                      <td>{item.firstDraft}</td>
                      <td>{item.revisedDraft}</td>
                      <td>{item.draftConfirmation}</td>
                      <td>{item.additionalComments}</td>
                      <td>{item.defaultStay}</td>
                      <td>{item.remarks}</td>
                      <td>
                        <a href=`../${item.linkTarget}/${item.htmlLink}` target="_blank">
                          {item.htmlLink}
                        </a>
                      </td>
                    </tr>
                  </>
                );
              })
            }

          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>