---
const tableCnt = [
  { number: 0, defaultStay:'',  remarks:"완료", dapth1: 'main', htmlLink: 'main.html', linkTarget: 'main' },
  { number: 1,  defaultStay:'', remarks:"완료", dapth1: '보미오라소개', htmlLink: '보미오라소개.html', linkTarget: 'sub' },
  { number: 2,  defaultStay:'', remarks:"완료", dapth1: '제품리스트', htmlLink: '제품리스트.html', linkTarget: 'sub' },
  { number: 3, dapth2:'로그인 시',  defaultStay:'비회원시 서포터리뷰 / 회원 서포터리뷰 , 처방 예약하기 클릭 시 비대면 진료 페이지 이동', remarks:"완료/", dapth1: '제품상세', htmlLink: '제품상세-로그인.html', linkTarget: 'sub' },
  { number: 3,  dapth2:'비로그인 시', defaultStay:'비회원시 서포터리뷰 / 회원 서포터리뷰 , 처방 예약하기 클릭 시 비대면 진료 페이지 이동', remarks:"완료/", dapth1: '제품상세', htmlLink: '제품상세-비로그인.html', linkTarget: 'sub' },
  { number: 4,  defaultStay:'가이드라인 클릭시 pdf 연결', remarks:"완료", dapth1: '체험단', htmlLink: '체험단.html', linkTarget: 'sub' },
  { number: 5,  defaultStay:'', remarks:"완료", dapth1: '체험단상세', htmlLink: '체험단상세.html', linkTarget: 'sub' },
  { number: 6,  dapth2:'로그인 시',  defaultStay:'서포터리뷰 [라벨,도움쿠폰] / 각 리뷰 카드 클릭시 리뷰 상세페이지로, 로그인 / 비로그인시', remarks:"완료", dapth1: '리뷰', htmlLink: '리뷰-로그인.html', linkTarget: 'sub' },
  { number: 6,   dapth2:'비로그인 시', defaultStay:'서포터리뷰 [라벨,도움쿠폰] / 각 리뷰 카드 클릭시 리뷰 상세페이지로, 로그인 / 비로그인시', remarks:"완료", dapth1: '리뷰', htmlLink: '리뷰-비로그인.html', linkTarget: 'sub' },
  { number: 7,  defaultStay:'', remarks:"완료", dapth1: '비대면진료', htmlLink: '비대면진료.html', linkTarget: 'sub' },
  { number: 9,  defaultStay:'', remarks:"완료", dapth1: '비대면진료-옵션선택', htmlLink: '비대면진료-옵션선택.html', linkTarget: 'sub' },
  { number: 8,  defaultStay:'', remarks:"완료", dapth1: '비대면진료-시간선택', htmlLink: '비대면진료-시간선택.html', linkTarget: 'sub' },
  { number: 10, defaultStay:'', remarks:"완료",  dapth1: '비대면진료-개인정보', htmlLink: '비대면진료-개인정보.html', linkTarget: 'sub' },
  { number: 11, defaultStay:'', remarks:"완료", defaultStay: '서포터 리뷰상세',  dapth1: '리뷰상세', htmlLink: '리뷰상세.html', linkTarget: 'sub' },
  { number: 12, defaultStay:'', remarks:"완료", defaultStay: '일반인 리뷰상세' , dapth1: '리뷰상세-일반', htmlLink: '리뷰상세-일반.html', linkTarget: 'sub' },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>가이드</title>
    <link rel="stylesheet" href="../assets/css/ui.css" />
  </head>

  <body>
    <div class="content-wrapper" id="content">
      <div class="content-section" id="app-cn" style="display: block">
        <table style="width: 100%" class="tbl-list mt20">
          <thead>
            <tr>
              <th>연번</th>
              <th>1Depth</th>
              <th>2Depth</th>
              <th>Tab-Depth</th>
              <th>퍼블1차</th>
              <th>퍼블수정</th>
              <th>퍼블컨펌</th>
              <th>추가의견</th>
              <th>콘텐츠(기본 유지)</th>
              <th>비고</th>
              <th>HTML 링크</th>
            </tr>
          </thead>
          <tbody>
            {
              tableCnt.map(function (item) {
                return (
                  <>
                    <tr>
                      <td>{item.number}</td>
                      <td>{item.dapth1}</td>
                      <td>{item.dapth2}</td>
                      <td>{item.tabDapth}</td>
                      <td>{item.firstDraft}</td>
                      <td>{item.revisedDraft}</td>
                      <td>{item.draftConfirmation}</td>
                      <td>{item.additionalComments}</td>
                      <td>{item.defaultStay}</td>
                      <td>{item.remarks}</td>
                      <td>
                        <a href=`../${item.linkTarget}/${item.htmlLink}` target="_blank">
                          {item.htmlLink}
                        </a>
                      </td>
                    </tr>
                  </>
                );
              })
            }

          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>