---
import '../css/ui.css';
import menu from '../../menu.js';
---

<!-- footer -->
<footer id="footer" class="footer">
  <div class="inner">
    <div class="footer__wrap">
      <div class="footer__grp" data-aos="fade-up" data-aos-duration="1000">
        <div class="footer__logo">
          <img class="img" src="../assets/images/footer_logo.svg" alt="" />
        </div>
        <div class="footer__info_grp">
          <div class="footer__info footer__address">
            <div class="footer__icon">
              <i class="icon footer_address_icon"></i>
            </div>
            <div class="footer__info_txt">서울시 강남구 테헤란로,<br class="is-tab-hide">
              82길 15 349호</div>
          </div>
          <div class="footer__info footer__email">
            <div class="footer__icon">
              <i class="icon footer_email_icon"></i>
            </div>
            <div class="footer__info_txt">yssuh@medilmm.com</div>
          </div>
          <div class="footer__info footer__phone">
            <div class="footer__icon">
              <i class="icon footer_phone_icon"></i>              
            </div>
            <div class="footer__info_txt">02-5220-2593</div>
          </div>
        </div>
        <div class="btn footer__btn is-tab-hide">
          Cantact Us
        </div>
        <p class="footer__copyright is-tab-show">
          Copyright ⓒ MEDILMM CO.,LTD. All Rights Reserved
        </p>
      </div>
      <ul class="footer__link_wrap is-tab-hide" data-aos="fade-up" data-aos-duration="1000" >
          {
            menu.map(({ category, title, items, active2, url, gradienText }) => {
              return (
                <>
                  <li class="footer__grp type_footer_link">
                    <a class= {active2 && gradienText === 'on' ? 'on is-gra' : 'on'}  href={`../${category}/${url}.html`}>
                      <span class="footer__ttl"> {title} </span>
                    </a> 
                    {items && (
                      <ul class="footer__page">
                        {items.map(function ({ url, title, active }) {
                          return (
                            <li class="">
                              <a class={active && 'on'} href={`../${category}/${url}.html`}>
                                <span class="footer__link">{title}</span>
                              </a>
                            </li>
                          );
                        })}
                      </ul>
                    )}
                  </li>
                </>
              );
            })
          }
      </ul>
    </div>
  </div>
</footer>
<!-- footer eee -->
