---
import menu from '../../menu.js';
import '../css/ui.css';

const { pageHeader } = Astro.props;
---

<!-- header -->
<header id="header" class={pageHeader !== 'sub' ? 'header' : 'header sub'}>
  <div class="inner">
    <h1 class="logo">
      <a href="../main/main.html">
        <img class="main-img" src="../assets/images/logo_blk.svg" alt="" />
        <img class="sub-img" src="../assets/images/logo_wh.svg" alt="" />
      </a>
    </h1>
    <!-- 모바일메뉴 -->
    <nav class="mobileMenu is-web-show">
      <button type="button" class="menuToggle" title="모바일 메뉴 토글버튼">
        <span class="menuItem"></span>
        <span class="menuItem"></span>
        <span class="menuItem"></span>
      </button>
      <div class="mobileNav">
        <ul class="mobileNavList">
          {
            menu.map(({ category, title, items, active2, url, gradienText }) => {
              return (
                <>
                  <li class="mobileNavItem">
                    <a class={active2 && gradienText === 'on' ? 'on is-gra' : 'on'} href={`../${category}/${url}.html`}>
                      <span> {title} </span>
                    </a>
                    {items && (
                      <ul class="dapth2">
                        {items.map(function ({ url, title, active }) {
                          return (
                            <li>
                              <a class={active && 'on'} href={`../${category}/${url}.html`}>
                                {title}
                              </a>
                            </li>
                          );
                        })}
                      </ul>
                    )}
                  </li>
                </>
              );
            })
          }
        </ul>
      </div>
    </nav>
    <nav class="gnb is-web-hide">
      <ul>
        {
          menu.map(({ category, title, items, url, active }) => {
            return (
              <>
                <li>
                  <a class={active === 'on' ? 'on' : ''} href={`../${category}/${url}.html`}>
                    {title}
                  </a>
                  {items && (
                    <ul class="sub-menu">
                      {items.map(function ({ url, title, active }) {
                        return (
                          <li>
                            <a class={active === 'on' ? 'on' : ''} href={`../${category}/${url}.html`}>
                              {title}
                            </a>
                          </li>
                        );
                      })}
                    </ul>
                  )}
                </li>
              </>
            );
          })
        }
      </ul>
    </nav>
  </div>

  <!-- header eee -->
</header>
