---
import menu from '../../menu.js';
import '../css/ui.css';
---

<!-- header -->
<header id="header" class="header">
  <div class="inner">
    <h1 class="logo">
      <a href="../main/main.html">
        <img class="" src="../public/assets/images/logo_blk.svg" alt="" />
      </a>
    </h1>
    <!-- 모바일메뉴 -->
    <nav class="mobileMenu is-web-show">
      <button type="button" class="menuToggle" title="모바일 메뉴 토글버튼">
        <span class="menuItem"></span>
        <span class="menuItem"></span>
        <span class="menuItem"></span>
      </button>
      <div class="mobileNav">
        <ul class="mobileNavList">
          {
            menu.map(({ category, title, items, active, url }) => {
              return (
                <>
                  <li class="mobileNavItem">
                    <a class={active === 'on' ? 'on' : ''} href={`../${category}/${url}.html`}>
                      {title}
                    </a>
                    {items && (
                      <ul class="dapth2">
                        {items.map(function ({ url, title, active2 }) {
                          return (
                            <li>
                              <a class={active2 === 'on' ? 'on' : ''} href={`../${category}/${url}.html`}>
                                {title}
                              </a>
                            </li>
                          );
                        })}
                      </ul>
                    )}
                  </li>
                </>
              );
            })
          }
        </ul>
      </div>
    </nav>
    <nav class="gnb is-web-hide">
      <ul>
        {
          menu.map(({ category, title, items, url, active }) => {
            return (
              <>
                <li>
                  <a class={active === 'on' ? 'on' : ''} href={`../${category}/${url}.html`}>
                    {title}
                  </a>
                  {items && (
                    <ul class="sub-menu">
                      {items.map(function ({ url, title, active }) {
                        return (
                          <li>
                            <a class={active === 'on' ? 'on' : ''} href={`../${category}/${url}.html`}>
                              {title}
                            </a>
                          </li>
                        );
                      })}
                    </ul>
                  )}
                </li>
              </>
            );
          })
        }
      </ul>
    </nav>
  </div>

  <!-- header eee -->
</header>

<script>
  document.querySelector('.menuToggle')?.addEventListener('click', () => {
    document.querySelector('.menuToggle')?.classList.toggle('open');
  });

  const $$mobileNav = document.querySelectorAll('.mobileNavItem');
  const $$mobileNavItem = document.querySelectorAll('.mobileNavItem>a');

  $$mobileNavItem.forEach((el) => {
    el.addEventListener('click', (e) => {
      if (!el.closest('li')?.classList.contains('on')) {
        $$mobileNav.forEach((el) => el.classList.remove('on'));
      }

      if (el.classList.contains('on')) {
        e.preventDefault();
        el.closest('li')?.classList.toggle('on');
      } else {
      }
    });
  });
</script>
